<% if data.is_a? Hash %>
  <dl>
    <% data.each do |key, value| %>
      <dt><%= render partial: 'data', locals: { data: key } %></dt>
      <dd><%= render partial: 'data', locals: { data: value } %></dd>
    <% end %>
  </dl>
<% elsif data.is_a? Array %>
  <ul>
    <% data.each do |value| %>
      <li><%= render partial: 'data', locals: { data: value } %></li>
    <% end %>
  </ul>
<% elsif data.is_a? String %>
  "<%= data %>"
<% else %>
  <%= data %>
<% end %>
