<p id="notice"><%= notice %></p>

<h1><%= @bin.title %></h1>

<p><%= @bin.description %></p>

<%= highlight @bin.body %>

<%= link_to 'Edit', edit_bin_path(@bin) %> |
<%= link_to 'Back', bins_path %>
