<p id="notice"><%= notice %></p>

<h1><%= @bin.title %></h1>

<p><%= @bin.description %></p>

<h2>Preview</h2>
<%= render partial: 'data', locals: { data: JSON.parse(@bin.body) } %>

<h2>Code</h2>
<%= highlight @bin.body %>

<%= link_to 'Edit', edit_bin_path(@bin), class: 'pure-button' %>
<%= link_to 'Back', bins_path, class: 'pure-button' %>
